@use "../utilities/mixins";
@use "../utilities/variables";

.contact-section {
    padding: 60px 20px; 
    max-width: 1300px;
    margin: 53px auto; 
    background-color: #f7eae0; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); 

    @include mixins.ipad{
        max-width: 100%px;
    }
    
    @include mixins.mobile{
        max-width: 100%;
    }

    @include mixins.mobile{
        max-width: 100%;
    }
}

.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h2 {
    font-size: 3em;
    color:variables.$blue;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact-header p {
    font-size: 1.1em;
    color:variables.$grey;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.contact-content{
    height: 400px;


    @include mixins.tablet{
        max-width: 800px;
    }
}

.contact-info p {
    font-size: 16px;
    color:variables.$grey;
    margin-bottom: 10px;
    line-height: 1.5;
    margin-top: 6px;

    @include mixins.mobile{

    }
    
    }

.form-button{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 16px;

    &:hover {
     background-color: #007bff;
     color: white;
     }
}

.info-text{
    margin-bottom: 15px;
}

.foto-local{
    @include mixins.flex(row, center, center);
    height: 250px;
    width: auto;
}