@use "../utilities/mixins";
@use "../utilities/variables";

.top-section {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  @include mixins.flex(center, center, center);
  
 
 
  .cocineros-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }

  .text-box {
    position: relative;
    z-index: 2;
    background-color:variables.$beige;
    backdrop-filter: blur(5px);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;

   

    p {
      color:variables.$grey;
      font-size: 2.2em;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;

       @include mixins.mobile{
       font-size: 1.1em;
    }
    }
  }
}

.bot-section {
  @include mixins.flex(row, center, center);
  margin-top: 5px;

  .galery-item {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

     @include mixins.mobile{
      height: 50%;
    }

    img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
    }
  }
}