@use "../utilities/mixins";
@use "../utilities/mixins";

.index-content{
  @include mixins.flex(row, space-around, center);
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}


.main-text{
  max-width: 100%;
  height: auto;
}

.img-index{
  width: 80%;
  height: auto;
}

.main-text{
    position: relative; 
    text-align: center; 
    font-size: 16px;
}

