@use "../utilities/mixins" as *;
@use "../utilities/variables";


.menu-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 20px;
    margin: 0 auto;

    @include tablet{
        grid-template-columns: 1fr;
    }
}

.menu-container img{
    width: 200px;       
    height: 200px;
    object-fit: cover; 
    border-radius: 10%;
    margin-right: 20px;
    border: 1px solid #ddd;

    @include mobile {
        width: 150px;
        height: 150px;
        margin-right: 10px;
    }
}

.menu-container > div{
    display: flex;
    align-items: center;
    padding: 10px;
}


.pizza-text h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: variables.$grey;
    display: flex;
    align-items: start;

   
    @include mobile {
        justify-content: center;
    }
}

.pizza-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.h1-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: variables.$grey;
}

