@use "../utilities/variables";
.menu-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;

      @include mobile{
        flex-direction: column;
     
    
  }
}

.menu-container img{
    width: 250px;
    height: auto;
    border-radius: 10%;
    margin-right: 20px;
    border: 1px solid #ddd;
}

.menu-container > div{
    display: flex;
    align-items: center;
    padding: 10px;
}

.pizza-text h2{
    margin-top: 0;
    margin-bottom: 10px;
    color: variables.$grey;
    display: flex;
    align-items: start
}

.pizza-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
