@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";

.container-about {
      @include mixins.flex(row, space-around, center);
        margin: 50px auto;
        padding: 20px;
        flex-wrap: wrap;
        
        .img-a {
            height: 500px;
            width: auto;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

            @include mixins.tablet {
                height: 400px;
            }

            @include mixins.mobile {
            height: 300px;
            width: 100%;
            margin-bottom: 30px;
        }
        }
        
        .map{ 
            width: 500px;
            height: 500px;
            margin-right: 100px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);


            @include mixins.tablet {
            width: 400px;
            height: 400px;
            margin-right: 0;
            margin-top: 30px;
        }

            @include mixins.mobile {
                width: 100%;
                height: 300px;
                margin-right: 0;
                margin-bottom: 30px;
        }

        }    

       
        
}


.txt-a {
        display: flex;
        justify-content: center;
        text-align: center;
        @extend %text-type
        }

        .txt-a{
            background-color: #fff4e8;
            &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            background-color: rgb(236, 195, 148);
            }
        }