@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";

.container-about {
      @include mixins.flex(column, center, center);
        gap: 30px;
        max-width: 1000px;
        margin: 50px auto;
        padding: 20px;

        .img-a {
            width: 500px;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        }
            .img-a {
                width: 450px;
                height: auto;
            }

        .txt-a {
            @extend %text-type
        }
        .txt-a{
            background-color: #fff4e8;

        
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          background-color: rgb(236, 195, 148);
        }
        }
}
