@use "../utilities/mixins";
@use "../utilities/variables";

.container-about {
      @include mixins.flex(column, center, center);
        gap: 30px;
        max-width: 1000px;
        margin: 50px auto;
        padding: 20px;

        .img-a {
            width: 500px;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        }

        .txt-a {
            font-size: 16px;
            color: variables.$grey;
            
        }

            .img-a {
                width: 450px;
                height: auto;
            }

            .txt-a {
                width: 50%;
                text-align: left;
                padding: 0;
            }
        }
