@mixin flex ($direction, $justify, $aling ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify ;
    align-items: $aling;
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin ipad {
    @media (min-width:768px) and (max-width: 1024px) {
        @content;

    }
}

@mixin ipad-air {
    @media (min-width:820px) and (max-width: 1180px) {
        @content;

    }
}

@mixin ipad-pro {
    @media (min-width:1024px) and (max-width: 1366px) {
        @content;

    }
}